:root{
    --color: rgb(236, 237, 220);
    --primarycolor:rgb(52, 235, 210, 0.6);
    --secondarycolor:rgba(15, 69, 113, 0.9);
    --textcolor:black;
    --navcolor: rgb(250, 163, 163);  
}

.App {
	text-align: center;
}

body {
	font-size: 22px;
	background-color: lightcyan;
}

nav{
    text-align: center;
    background-color: var(--secondarycolor);
    padding: 3px;
    width: 118%;
    margin-left: -119px;
    
}

@media(max-width:960px){

	nav{
		text-align: center;
		background-color: var(--secondarycolor);
		padding: 3px;
		width: 148%;
		margin-left: -125px;
		
	}

	nav p{
		font-size: 28px;
		font-weight: 600;
		font-family: Georgia, 'Times New Roman', Times, serif;
		color: var(--navcolor);
		margin-left: 35px;
	}
}

nav p{
    font-size: 28px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--navcolor);
    margin-left: 35px;
}

.main {
	text-align: center;
	padding: 20px;
	background-color: rgb(241, 230, 230, 0.7);
	margin: 30px;
	border-radius: 15px;
	border-top-right-radius: 0px;
	box-shadow: 10px 8px 7px rgb(120, 118, 118, 0.7);
	/* box-shadow: 10px 8px 7px rgb(162, 161, 159); */
}

.content {
	margin: 20px;
	background-color: rgb(200, 186, 186);
	padding: 20px;
	box-shadow: 10px 8px 7px rgb(101, 97, 97, 0.5);
	border-radius: 15px;
}

input {
	padding:8px;
	border-radius: 10px;
	border-color: rgb(247, 152, 152);
	font-size: 20px;
	width: 300px;

}

button {
	
	padding: 10px;
	cursor: pointer;
	margin: 20px;
	color: #fff;
	width: 200px;
}

input:hover{
	background-color: rgb(235, 219, 219);
}

